/**
 * Basic Style Sheet for applications
 *
 */

 body {
    font-family: 'IBMPlexMono-Bold';
    font-size: 1.2em;
    font-kerning: auto;
    line-height: 1.7em;
    background-color: rgb(0,0,0);
  }
  
  #main{
    position: relative;
    width: 100%;
    max-width: 1480px;
    margin: 5px auto 6px auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  #main2{
    position: relative;
    width: 100%;
    max-width: 940px;
    margin: 5px auto 6px auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  h1 {
    font-family: 'IBMPlexMono-Bold';
    font-size: 2.2em;
    color: white;
  }
  
  
  a {
      color: blue;
      text-decoration: underline;
  }
  
  a:hover {
      color: gold;
  }
  
  nav a{
    font-size: 1.0em;
    color: red;
    padding: 0 2px;
    box-sizing: border-box;
  }
  
  #font-name{
      font-family: 'IBMPlexMono-LightExtralight';
      font-size: 0.8em;
      color: white;
  }
  
  #file{
    border: none;
    padding: 5px;
    font-family: 'IBMPlexMono-LightExtralight';
    font-size: 0.8rem;
    text-align: center;
    width: 300px;
    color: #fff;
  }
  
  label,output {
    font-family: 'IBMPlexMono-Light';
    font-size: 0.7em;
    line-height: 0.3em;
    color:white; /* #ecf0f1 || d2dae2  || #273c75*/
  
    padding: 0px;
    margin-top: 0px;
  }
  
  input{
    color: black;
  }
  
  output{
    color: red;
  }
  
  .explain {
    font-family: 'IBMPlexMono-Light';
    font-size: 0.9em;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  
  /**
   * Our grid layout
   *
   */
   #canvasGrid_01{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: minmax(30px, auto);
    grid-gap: 5px;
    
   }
  
   #prmgtitle{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 1100px;
    top: 50px;
    z-index: 10;
  }
  
  /* --  2 column grid : 70% 30% ratio   -- */
  
  .grid_2colText {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: minmax(30px, auto);
    grid-gap: 5px;
  }
  
  .grid_2colText>div {
    background: #eee;
    padding: 1em;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  
  /**
   * interface elements
   */
  
  input[type=range] {
    -webkit-appearance: none;
    margin: 0px, 0px;
    width: 100%;
    display: block;
  }
  
  input[type=range]:focus {
    outline: none;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: white;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    border-radius: 13px;
    background: currentColor;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
  }
  
  input[type=checkbox] {
      /*margin: 0px 10px 0px 20px;*/
  }
  
  input[type=file] {
      -webkit-appearance: none;
  }
  
   .myButton {
    border: none;
      padding: 0 5px;
      font-family: 'IBMPlexMono-Light';
      font-size: 1rem;
      text-align: center;
      color: #fff;
      background-color: rgba(0, 0, 0, 1);
  }
  
  .myButton:hover {
      background-color: rgba(0, 255, 0, 1);
      cursor: pointer;
  }
  
  
  /*
  At-rules are used in CSS to convey metadata, conditional information,
  or other descriptive information
  */
  
  @font-face {
    font-family: 'IBMPlexMono-Bold';
    src:url('../font/IBMPlexMono-Bold.ttf') format('truetype');
    text-rendering: optimizeLegibility;

    font-family: 'IBMPlexMono-Light';
    src:url('../font/IBMPlexMono-Light.ttf') format('truetype');
    text-rendering: optimizeLegibility;

    font-family: 'IBMPlexMono-LightItalic';
    src:url('../font/IBMPlexMono-LightItalic.ttf') format('truetype');
    text-rendering: optimizeLegibility;
}
  