/**
 * CSS: Basics
 * https://developer.mozilla.org/en-US/docs/Web/CSS
 *
 */

 @font-face {
   font-family: 'IBMPlexMono-Bold';
   font-weight: bold;
   font-style: normal;
   src: url(../font/IBMPlexMono-Bold.ttf);
 }

 @font-face {
  font-family: 'IBMPlexMono-Light';
  font-weight: normal;
  font-style: normal;
  src: url(../font/IBMPlexMono-Light.ttf);
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: normal;
  font-style: italic;
  src: url(../font/IBMPlexMono-MediumItalic.ttf);
}



html {
  font-size: 1.25em;
  font-family: 'IBMPlexMono-Light';
  line-height: 1.35em;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box
}

*,
*:before,
*:after {
	box-sizing: inherit
}

body {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
video {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: 'IBMPlexMono-Bold';
}

/* NAV BAR */
.nav {
  position: sticky;
  top: 0;
  font-family: 'IBMPlexMono-Bold';
  font-weight: bold;
  border-bottom: 5px solid black;
  color: black;

  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 999;
  background-color: white;
}
.nav .titre {
  grid-column: 1;
}
.nav .infos {
  grid-column: 3;
  justify-self: right;
}
.nav div {
  transition: all .2s ease-out;
}
.nav div:hover {
  transform: translate(0, -3px);
  opacity: 80%;
}

/* GRID HOME */
#main {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  row-gap: 0;
}

@media screen and (max-width: 800px) {
  #main{
      display: block;
  }
}

/*
.home1:hover {
  background-image: url(https://picsum.photos/1920/1080);
}
.home2:hover {
  background-image: url(https://picsum.photos/1920/1080);
}
.home3:hover {
  background-image: url(https://picsum.photos/1920/1080);
}
.home4:hover {
  background-image: url(https://picsum.photos/1920/1080);
}
.home5:hover {
  background-image: url(https://picsum.photos/1920/1080);
}
.home6:hover {
  background-image: url(https://picsum.photos/1920/1080);
}
.home7:hover {
  background-image: url(https://picsum.photos/1920/1080);
}
.home8:hover {
  background-image: url(https://picsum.photos/1920/1080);
}
.home9:hover {
  background-image: url(https://picsum.photos/1920/1080);
}
.home10:hover {
  background-image: url(https://picsum.photos/1920/1080);
}
.home11:hover {
  background-image: url(https://picsum.photos/1920/1080);
}
.home12:hover {
  background-image: url(https://picsum.photos/1920/1080);
}
.home13:hover {
  background-image: url(https://picsum.photos/1920/1080);
}

.home14:hover {
  background-image: url(https://picsum.photos/1920/1080);
}

.home15:hover {
  background-image: url(https://picsum.photos/1920/1080);
}

.home16:hover {
  background-image: url(https://picsum.photos/1920/1080);
}
*/

/* PROJETS */
.main-projet {
  /*display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 300px 400px;
  */
  display: block;
}

@media screen and (max-width: 800px) {
  .main-projet{
      display: block;
  }
}
.project-home{
  border: 3px solid black;

}
.titre-projet {
  margin-left: 15px;
  /*display: block;
  justify-self: center;
  align-self: center;
  grid-row: 1;
  */
}
.texte-projet {
  padding-top: 5px;
  padding-left: 20px;
  grid-row: 2;
  display: grid;
  grid-template-columns: 3fr 1fr
  /*grid-template-rows: repeat(2, 1fr);*/
}
.explication {
  grid-row: 1;
}
.auteurices {
  padding-left: 20px;
  margin-top: 35px;
}


@media screen and (max-width: 800px) {
  main{
      display: block;
  }

  .texte-projet {
    display: block;
  }
}
.projet-back {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% auto;
}

.caroussel {
  grid-row: 3/4;
}

#projet-1 {
  background-image: url(https://picsum.photos/1920/1080);
}
#projet-5 {
  background-image: url(../media/photo_couv/projet_05-couv.jpg);
}

/* A PROPOS */
.main-infos {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin: 10px 30px 10px 30px;
  row-gap: 100px;
}

.txt-infos {
  grid-column: 1/3;
  grid-row: 1;
}

.credit-infos {
  grid-column: 3/5;
  grid-row: 2;
}

.main-infos a {
  display: inline-block;
  font-weight: bold;
  transition: all .2s ease-out;
}
.main-infos a:hover {
  transform: translate(0, -2px);
  opacity: 80%;
}

/* CAROUSSEL */
/* .carousel-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
} */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.carousel {
  display: flex;
  /* position: relative; */
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: rgb(212, 251, 0);
  grid-row: 3/4;
  height: 400px;
}

.carousel__slider {
  position: relative;
  display: flex;
  align-items: center;
  width: 80vw;
  /* border: 2px solid #333; */
  height: 200px;
}

.carousel__list {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

/**
 * 23.05.2022
 * M.Webster
 */

.titre-projet-pres{
  font-family: 'IBMPlexMono-Bold';
  font-size: 1.3em;
  position: absolute;
  left: 45%;
  top: 50%;
  text-align: center;
}

.projet-image-gallerie{
  display: block;
  margin-bottom: 45px;
}

.mySlides {
  box-sizing: border-box;
}
.mySlides img{
  width: 100%;
  object-fit: cover;
}

button {
  font-size: 45px;
  background: transparent; 
  border: none;
}
.nav-right-button{ 
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 50%;
  padding: 3px;
  z-index: 10;
}

.nav-left-button{
  display: inline-block;
  position: absolute;
  left: 30px;
  top: 50%;
  padding: 3px;
  z-index: 10;
}

button:hover {
  background: white;
  cursor: pointer;
}


footer{
  font-family: 'IBMPlexMono-Bold';
  font-size: 1em;
  display: inline-block;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-bottom: 4%;
  margin-top: 10%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

footer li{
  display: inline;
  position: relative;
  left: 25px;
}
footer a{
  color: black;
  text-decoration: none;
}

footer a:hover{
  color: red;
}